# Each line is a file pattern followed by one or more owners.
# Read more at https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners are the default owners for everything in the repo. Unless a later match takes
# precedence, these will be requested for review when someone opens a pull request.
# Every codeowner must have a write access to the repository, including teams.
# NOTE! This file should not contain any personal emails, only Github Teams
# Example: *     @allermedia/digital-factory-fi
*     @allermedia/digital-factory-fi

# Add tech lead team to infrastructure related pull requests
# Example: cloudformation/*     @allermedia/digital-factory-fi @allermedia/tech-lead-fi
cloudformation/*     <!-- @allermedia/digital-factory-dk / @allermedia/digital-factory-fi / @allermedia/digital-factory-se @allermedia/tech-lead-dk / @allermedia/tech-lead-fi / @allermedia/tech-lead-se -->
.aws/*     <!-- @allermedia/digital-factory-dk / @allermedia/digital-factory-fi / @allermedia/digital-factory-se @allermedia/tech-lead-dk / @allermedia/tech-lead-fi / @allermedia/tech-lead-se -->
